<% if (page['nav-style']) { %>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top invert">
  <% } else { %>
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <% } %>
    <div class="container-fluid">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= config.root %>">
          <%= config.title %>
        </a>
      </div>
      <div id="xblog_navbar">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="<%= config.root %>">Home</a>
            </li>
            <li>
              <a href="/about/">About</a>
            </li>
            <li>
              <a href="/donate/">Donate</a>
            </li>
            <li>
              <a href="/archive/">Archive</a>
            </li>
            <li>
              <a href="/feed.xml">Rss</a>
            </li>
            <li class="search-icon">
              <a href="javascript:void(0)">
                <i class="fa fa-search"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <script>
    // Drop Bootstarp low-performance Navbar
    // Use customize navbar with high-quality material design animation
    // in high-perf jank-free CSS3 implementation
    var $body = document.body;
    var $toggle = document.querySelector('.navbar-toggle');
    var $navbar = document.querySelector('#xblog_navbar');
    var $collapse = document.querySelector('.navbar-collapse');

    var __XNav__ = {
      close: function() {
        $navbar.className = " ";
        // wait until animation end.
        setTimeout(function() {
          // prevent frequently toggle
          if ($navbar.className.indexOf('in') < 0) {
            $collapse.style.height = "0px"
          }
        }, 400)
      },
      open: function() {
        $collapse.style.height = "auto"
        $navbar.className += " in";
      }
    }

    $toggle.addEventListener('click', function(e) {
      if ($navbar.className.indexOf('in') > 0) {
        __XNav__.close();
      } else {
        __XNav__.open();
      }
    });
    document.addEventListener('click', function(e) {
      if (e.target == $toggle) return;
      if (e.target.className == 'icon-bar') return;
      __XNav__.close();
    })
  </script>